body{
    background-color: darkslategray;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.textcase{
    color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
text-align: center;
display: flex;
justify-content: space-around;
margin-top: 300px;
margin-left: 200px;

}
.watch{
    width: 500px;
    height: 500px;
    border: 1px solid white;
    margin: 100px;
    background-color: ivory;
}
img{
    width:30px;
    height: 30px;
}
.border{
    width: 200px;
    height: 250px;
    margin: 150px;
    border: 1px solid black;
    background-color: #2B3434;
    border-radius: 50px;
}
.screen{
    width: 200px;
    height: 220px;
    margin-top: 15px;
    border: 1px solid black;
    background-color:black;
    border-radius: 50px;
}

.bar{
    
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 70px ;
    
}
#demo{
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    font-size: 2em;
align-items: center;
color: cornsilk;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo1{
    font-size: 0.8em;
    margin-top: 10px;
    color: cornsilk;
    text-align: center;
}